@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&family=Poppins:wght@500&display=swap');
body{
			margin: 0;
			background-color: #3e408c;
			overflow-x:hidden;
		}
		html{
			scroll-behavior: smooth;
		}
		#Profile{
			margin-left: 15rem;
			margin-top: 210px;
			width: 14rem;
			height: 24rem;
			background-color: rgb(255,255,255);
			padding:2rem;
			border-radius: 2rem;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
			font-family:'Poppins',sans-serif ;

		}
		#Profile:hover{
			box-shadow: 0 8px 16px 0 rgba(255,255,255,0.4);
			transition: 0.1s;
		}
		#about{
			font-size: 23px;
			font-family: 'Caveat', cursive;
			color: black;
			
		}
		#Aboutme{
			margin-left: 3rem;
			margin-top: 100px;
			width: 49rem;
			height: 21rem;
			background-color: rgb(255,255,255);
			padding: 3rem;
		text-align: center;
		 border-radius: 3rem;
		 justify-content: center;
		 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);


		}
		#about_section{
			display: flex;
			flex-direction: row;
		}
		#page2 img{
			border-radius: 50%;
		}
		#Content{
			display: flex;
			flex-direction: row;
			padding: 10px;
		}
		#container>img{
			width: 150px;
		}
		#container{
			display: flex;
			flex-direction: column;
			text-align: center;
			margin: 30px;
			padding: 15px;
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		}
		#main_container{
			padding: 100px;
			display: flex;
			flex-direction: row;
			margin-left: 225px;
		}
		#container>a:link{
			text-decoration: none;
			color: black;
		}
		#container>a:hover{
		color: red;
	font-size: 30px;
	transition: 0.5s;

		}
		#page1{
			display: flex;
			flex-direction: row;

		}
		#page2{
			display: flex;
			flex-direction: column;
			padding: 5rem;

		}
		nav ul li a{
			color: white;
			text-align: center;
			text-decoration: none;
			font-size: 25px;
			padding: 14px 16px;
		}
		nav ul li a:hover{
			border : 3px solid white;
			transition: 0.1s;

		}
		nav ul {
			float: right;
			margin-left: 60rem;
		}
		nav h4{
			color: white;
			font-size: 20px;
			margin-left: 2rem;	
		}
		nav {
			display: flex; 
			flex-direction: row;
			overflow: hidden;
			background-color: rgba(255,255,255,0.5);
			position: fixed;
			width: 100%;
			top: 0;
			height: auto;
			font-family:'Poppins',sans-serif ;
		}
		#Skills_section {
			background-color: white;
			margin-top: 50px;
			width: auto;
			text-align: center;
			border-radius: 30px;
			box-shadow: 3px 3px 10px 3px rgba(255,255,255,0.5);
			font-family:'Poppins',sans-serif ;
		}
		#skills_cards{
			display: flex;
			flex-direction: row;
			align-items: center;
			text-align: center;
		}
		#skills_cards1{
			display: flex;
			flex-direction: row;

		}
		#skills_cards2{
			display: flex;
			flex-direction: row;
			
		}
		#card{
			padding: 20px;
			border-radius: 10px;
			border: 1px solid lightgrey;
			text-align: center;
			justify-content: center;
			margin: 35px;
				 background-color: white;
				 box-shadow: 0px  5px 8px 2px rgba(0,0,0,0.3);
				 width: 225px;
				 height: 400px;
		}
		#card:hover{
			box-shadow: 2px  7px 10px 5px rgba(0,0,0,0.3);
			transition: 0.5s;
		}
		#card>img{
			box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.3);
		}
		#contact_section{
			width: auto;
			height: 200px;
			padding: 20px;
			border-radius: 10px;
			margin-top: 100px;
			align-items: center;
			font-family:'Poppins',sans-serif ;
			background-color: white;
			box-shadow: 3px 3px 10px 3px rgba(255,255,255,0.5);
			text-align: center;
		}
		#contact_cards{
			display: flex;
			flex-direction: row;
		}
		#contact_card{
			border-radius: 30px;
			border: 1px solid grey;
			width: 150px;
			height: auto;
			padding: 20px;
			margin: 20px;
			display: flex;
			flex-direction: row;
			font-style: sans-serif;
			margin-left: 315px;
		}
		#contact_card>a{
			margin-top: 10px;
			text-decoration: none;
			color: black;
			margin-left: 10px;
		}
		footer{
			width: 100%;
			background-color: rgba(255,255,255,0.5);
			margin: 0;
			padding: 10px;
			text-align: center;

		}
		footer p{
			 font-family:sans-serif;
		}
		footer>p>a{
			text-decoration: none;
		}